
body {
  font-family: 'Didact Gothic', serif;
  font-size: 1.2em;
  text-align: center;
}
h1, h2, h3{
  font-family: 'Quattrocento', serif;
}
a:link, a:visited {
  color: #63b4d1;
  text-decoration: none;
    }
.b-line {
  height: 3px;
  border-radius: 3px;
  background-color: #f2f4f7;
  width: 100%;
}
/* Carousel */
.spaceRMini {
  padding-top: 30px;
  padding-bottom: 30px;
}
.carousel {
  margin-top: 30px;
}
.carousel-cell {
  width: 90%;
  margin-right: 30px;
}
.caraH {
  margin: 30px;
}
.flickity-page-dots {
  display: none;
}
/* Carousel End */
/* Nav Stuff */
.close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  z-index: 999
}
.n-popup .close {
  position: absolute;
  left: 0;
  transition: all 200ms;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  z-index: 999
}
.close:hover {
  color: #90fcf9;
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 996;
  float: left;
  display: block;
  padding: 20px 16px;
}
.navbar img {
    width: 50px;
    opacity: 0.2;
    }
.navbar img:hover {
    opacity: 1;
    }
.n-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(148, 72, 188, 1);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 997;
}
.n-overlay:target {
  visibility: visible;
  opacity: 1;
}
.n-popup {
  margin: 20px auto;
  padding: 20px;
  background: #9448bc;
  border-radius: 5px;
  width: 80%;
  height: 100%;
  position: relative;
  display: block;
  overflow: auto;
  font-size: 3em;
  padding-top: 60px;
  padding-left: 80px;
  text-align: left;
}
.n-popup a{
    color: #fff;
    text-decoration: none;
}
.n-popup a:hover {
  color: #90fcf9;
}
/*Nav End*/

/* Sections and Main */

.sectionA {
  height: 100vh;
  position: relative;
}
.sectionB {
  position: relative;
  top: 90px;
}
.sectionMe {
  height: 100vh;
  position: relative;
  background-image: url(../hmong.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  background-attachment: fixed;
}
.imgCenter {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.imgDown {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 40px;
  margin-top: 40px;
  max-width: 100%;
}
/* Sections and Main End */

/* Mission */
.mission{
  position: relative;
  width: 70%;
  overflow: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
  opacity: .98;
  margin: 30px;
  text-align: left;
  font-size: 1em;
  margin-top: 40px;
}
.m-content{
  margin: 25px;
}
.t-img {
  float: right;
  padding-right: 80px;
}
.line-break{
  height: 3px;
  border-radius: 3px;
  background-color: #63b4d1;
  width: 150px;
}
/*Mission End */

/* Tactics Start*/
.thead {
  color: #63b4d1;
}
.tactics {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.tcard {
  width: 250px;
  height: 150px;
  padding: 10px;
  margin: 15px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
/* Tactics End */

/* Footer */
.footer{
  position: relative;
  color: #ccc;
  margin-top: 90px;
}
/* Footer End */

/* Mobile Start */
@media screen and (max-width: 800px) {
.mission{
    width: 100%;
    max-width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
    right: 0px;
    padding-top: 10px;
    margin: 0px;
    overflow: auto;
  }
  .t-img {
    float: none;
    padding-right: 0;
  }
  .tactics {
    display: block;
  }
  .tcard {
    width: 90%;
    height: auto;
  }
}
/* Mobile End */
