
body {
  font-family: 'Didact Gothic', serif;
  background-color: #f7f7f7;
  max-width: 99%;
  height: 100%;
  margin:0;
  font-size: 1.2em;
}
h1, h2, h3{
  font-family: 'Quattrocento', serif;
}
a:link, a:visited {
  color: #63b4d1;
  text-decoration: none;
    }
.b-line {
  height: 3px;
  border-radius: 3px;
  background-color: #f2f4f7;
  width: 100%;
  margin: 60px auto;
}
/* Nav Stuff */
.close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  z-index: 999
}
.n-popup .close {
  position: absolute;
  left: 0;
  transition: all 200ms;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  z-index: 999
}
.close:hover {
  color: #90fcf9;
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 996;
  float: left;
  display: block;
  padding: 20px 16px;
}
.navbar img {
    width: 50px;
    opacity: 0.2;
    }
.navbar img:hover {
    opacity: 1;
    }
.n-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(148, 72, 188, 1);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 997;
}
.n-overlay:target {
  visibility: visible;
  opacity: 1;
}
.n-popup {
  margin: 20px auto;
  padding: 20px;
  background: #9448bc;
  border-radius: 5px;
  width: 80%;
  height: 100%;
  position: relative;
  display: block;
  overflow: auto;
  font-size: 3em;
  padding-top: 60px;
  padding-left: 80px;
}
.n-popup a{
    color: #fff;
    text-decoration: none;
}
.n-popup a:hover {
  color: #90fcf9;
}
/*Nav End*/

/* Top Mission Start */
.top {
  position: relative;
  top: 50px;
  max-width: 99%;
  text-align: center;
}
.top .t-mid{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.top .propic{
  position: relative;
  top: 55px;
  left: 55px;
}
.top .mission{
  position: relative;
  width: 70%;
  max-width: 750px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
  right: 55px;
  text-align: left;
}
.top .mission .m-content{
  margin: 65px;
}
.t-img {
  float: right;
  padding-right: 20%;
}
.line-break{
  height: 3px;
  border-radius: 3px;
  background-color: #63b4d1;
  width: 150px;
}
/* Top Mission End */

/* Tactics Start*/
.tactics a:link, .tactics a:visited {
  color: #000;
  text-decoration: none;
}
.thead {
  color: #63b4d1;
}
.tactics {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.tcard {
  width: 250px;
  height: 150px;
  padding: 10px;
  margin: 15px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
/* Tactics End */

.spaceR {
  padding-top: 80px;
  width: 80%;
  margin: 0 auto;
}
.carousel-cell {
  width: 60%;
  margin-right: 30px;
  background: #fff;
  word-wrap: break-word;
}
.caraH {
  margin: 30px;
}
.flickity-page-dots {
  display: none;
}

/* Mobile Start */
@media screen and (max-width: 650px) {
  .top .t-mid{
    display: block;
  }
  .top .propic{
    position: none;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
  }
  .top .mission{
    width: 100%;
    max-width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
    right: 0px;
    padding-top: 10px;
  }
  .t-img {
    float: none;
    padding-right: 0;
  }
  .tactics {
    display: block;
  }
  .tcard {
    width: 90%;
    height: auto;
  }
  .spaceR {
    width: 100%;
  }
  .carousel-cell {
    width: 90%;
  }
}
/* Mobile End */
